{% extends 'blogs/base.html' %}

{% block content %}
<div class="container">
    <h1>{{ post.title }}</h1>
    <p>{{ post.text }}</p>  <!-- The content of the blog post -->

    <h3>Comments:</h3>

    {% for comment in post.comments.all %}
        <div class="comment">
            <p><strong>{{ comment.author }}</strong>: {{ comment.text }}</p>
            <p><em>Posted on {{ comment.created_at }}</em></p>
        </div>
    {% endfor %}
	<div class="comment-count">
		<p>{{ comment_message }}</p> <!-- Show the comment count -->
	</div>
    <form method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="btn btn-primary">Submit Comment</button>
    </form>

    <a href="{% url 'blogs:index' %}" class="btn btn-secondary"><< Back</a>
</div>
{% endblock %}

